<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 text-danger fw-bold">Contacts
        <a class="btn btn-danger btn-sm" routerLink="/contacts/add">
          <i class="fa fa-plus-circle me-1"></i>New
        </a>
      </p>
      <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur debitis
        delectus dignissimos
        distinctio dolores, enim, et excepturi fuga hic illo ipsa mollitia, nemo obcaecati porro sunt temporibus
        voluptates voluptatibus?</p>
      <form action="">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col">
                <input class="form-control" placeholder="Search User" type="text">
              </div>
              <div class="col">
                <input class="btn btn-outline-dark" type="submit" value="Search">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!loading && errorMessage">
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
      </div>
    </div>
  </div>
</div>

<!--Cards-->
<div *ngIf="contacts.length > 0 && !loading" class="container mt-3">
  <div class="row">
    <div *ngFor="let contact of contacts" class="col-md-6">
      <div class="card list-group-item-danger shadow-lg my-3">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-sm-4">
              <img [src]="contact.photo"
                   alt="avatar"
                   class="contact-img">
            </div>
            <div class="col-sm-7">
              <ul class="list-group">
                <li class="list-group-item">Name: <span class="fw-bold">{{contact.name}}</span></li>
                <li class="list-group-item">Email: <span class="fw-bold">{{contact.email}}</span></li>
                <li class="list-group-item">Mobile: <span class="fw-bold">{{contact.mobile}}</span></li>
              </ul>
            </div>
            <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">
              <a class="btn btn-warning my-1" routerLink="/contacts/view/{{contact.id}}">
                <i class="fa fa-eye"></i>
              </a>
              <a class="btn btn-primary my-1" routerLink="/contacts/edit/{{contact.id}}">
                <i class="fa fa-pen"></i>
              </a>
              <button (click)="deleteContact(contact.id)" class="btn btn-danger my-1">
                <i class="fa fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pre>{{contacts | json}}</pre>
