/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
  font-family: 'Maven Pro', sans-serif;
  background-color: rgb(256, 236, 236) !important;
}

.contact-img {
  width: 150px;
  border-radius: 50%;
}

.contact-img-big {
  width: 200px;
  border-radius: 50%;
}
