<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">View Contact</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci corporis,
        cupiditate eum
        incidunt laudantium natus nisi officia quas quibusdam ratione soluta velit voluptas voluptatum? Commodi culpa
        omnis vero.</p>
    </div>
  </div>
</div>

<!--Contact Details-->
<div *ngIf="!loading && isNotEmpty()" class="container">
  <div class="row">
    <div class="col-sm-4">
      <img [src]="contact.photo" alt="avatar" class='contact-img-big'>
      <p>{{group | json}}</p>
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">Name: <span class="fw-bold">{{contact.name}}</span></li>
        <li class="list-group-item list-group-item-danger">Email: <span class="fw-bold">{{contact.email}}</span></li>
        <li class="list-group-item list-group-item-danger">Mobile: <span class="fw-bold">{{contact.mobile}}</span></li>
        <li class="list-group-item list-group-item-danger">Company: <span class="fw-bold">Company</span></li>
        <li class="list-group-item list-group-item-danger">Title: <span class="fw-bold">Title</span></li>
        <li class="list-group-item list-group-item-danger">Group Name: <span class="fw-bold">{{group.name}}</span>
        </li>
      </ul>
    </div>
    <div class="row mt-3">
      <div class="col">
        <a class="btn btn-danger" routerLink="/">
          <i class="fa fa-arrow-alt-circle-left me-1"></i>
          Back
        </a>
      </div>
    </div>
  </div>
</div>
