<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Edit Contact</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci corporis,
        cupiditate eum
        incidunt laudantium natus nisi officia quas quibusdam ratione soluta velit voluptas voluptatum? Commodi culpa
        omnis vero.</p>
    </div>
  </div>
</div>

<!--Creation of a Contact Form -->
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <form #updateForm="ngForm" (submit)="submitUpdate()">
        <div class="mb-2">
          <input [(ngModel)]="contact.name" [value]="contact.name" class="form-control" name="name" placeholder="Name"
                 required="true"
                 type="text">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.photo" [value]="contact.photo" class="form-control" placeholder="Photo Url"
                 required="true"
                 type="text">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.email" [value]="contact.email" class="form-control" name="email"
                 placeholder="Email"
                 required="true"
                 type="email">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.mobile" [value]="contact.mobile" class="form-control" name="mobile"
                 placeholder="Mobile"
                 required="true" type="number">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.company" [value]="contact.company" class="form-control" name="company"
                 placeholder="Company" required="true" type="text">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.title" [value]="contact.title" class="form-control" name="title"
                 placeholder="Title"
                 required="true"
                 type="text">
        </div>
        <div class="mb-2">
          <select [(ngModel)]="contact.groupId" [value]="contact.groupId" class="form-control" name="groupId"
                  required="true">
            <option value="">Select a Group</option>
            <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
          </select>
        </div>
        <div class="mb-2">
          <input [disabled]="!updateForm.valid" class="btn btn-danger" type="submit" value="Update">
          <a class="btn btn-dark ms-2" routerLink="/">Close</a>
        </div>
      </form>
    </div>
  </div>
</div>

<pre>{{contact | json}}</pre>
