<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Add Contact</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci corporis,
        cupiditate eum
        incidunt laudantium natus nisi officia quas quibusdam ratione soluta velit voluptas voluptatum? Commodi culpa
        omnis vero.</p>
    </div>
  </div>
</div>

<pre>{{contact | json}}</pre>

<!--Creation of a Contact Form -->
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <form (submit)="createSubmit()">
        <div class="mb-2">
          <input [(ngModel)]="contact.name" [required]="true" class="form-control" name="name" placeholder="Name"
                 type="text">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.photo" class="form-control" name="photo" placeholder="Photo Url" required
                 type="text">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.email" class="form-control" name="email" placeholder="Email" type="email">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.mobile" class="form-control" name="mobile" placeholder="Mobile" type="number">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.company" class="form-control" name="company" placeholder="Company" type="text">
        </div>
        <div class="mb-2">
          <input [(ngModel)]="contact.title" class="form-control" name="title" placeholder="Title" type="text">
        </div>
        <div class="mb-2">
          <select *ngIf="groups.length > 0" [(ngModel)]="contact.groupId" class="form-control" name="groupId"
                  placeholder="Select">
            <option value="">Select a Group</option>
            <option *ngFor="let group of groups" [value]="group.name">{{group.name}}</option>
          </select>
        </div>
        <div class="mb-2">
          <input class="btn btn-danger" type="submit" value="Create">
          <a class="btn btn-dark ms-2" routerLink="/">Close</a>
        </div>
      </form>
      {{groups | json}}
    </div>
    <div class="col-sm-4">
      <img [src]="contact.photo" alt="avatar" class="contact-img">
    </div>
  </div>
</div>
